ul {
    list-style-type: none;
  }

.nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-center h4 {
    color: black;
}

nav a {
    text-transform: capitalize;
    color: black;
    letter-spacing: 1px;
    margin-right: 1rem;
}

.nav-links {
    display: flex;
  }

main {
    min-height: 600px;
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
  }

 





