a {
    text-decoration: none;
  }

ul {
    list-style-type: none;
  }

  
nav {
    background: white;
    height: 75Spx;
    display: grid;
    align-items: center;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-center h4 {
    color: black;
}

nav a {
    text-transform: capitalize;
    color: black;
    margin-right: 1rem;
}

nav a:hover {
    background-color: black;
  }

.nav-links {
    display: flex;
  }

main {
    min-height: 600px;
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
  }

.container h2 {
    background: black;
    box-shadow: 0 1px 3px black;
    color: white;
    padding: 1rem;
    border-radius: 25px;


}


.btn-hero {
    text-transform: uppercase;
    background: transparent;
    color: black;
    font-weight: 700;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 1px 3px black;
    padding: 0.8rem 1.5rem;
}

.btn-hero:hover {
    color: white;
    background: black;
}







