
.nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-center h4 {
    color: white;
}

nav a {
    text-transform: capitalize;
    color: white;
    letter-spacing: 1px;
    margin-right: 1rem;
}

.nav-links {
    display: flex;
  }

main {
    min-height: 600px;
    display: grid;
    place-items: center;
}