/* Menu */

.menu {
    padding: 5rem 0;
  }

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    background: gold;
    margin-left: auto;
    margin-right: auto;
}

.btn-container {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.photo {
    object-fit: cover;
    height: 200px;
    border: 0.25rem solid gold;
    border-radius: 2rem;
}
.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
}