/* Global */

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: Arial;
}

html{
    border: 0.75rem double black;
}

/* Menu */

.menu {
    padding: 5rem 0;
  }

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    background: black;
    margin-left: auto;
    margin-right: auto;
}

.btn-container {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.filter-btn {
    background: transparent;
    border-color: black;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    padding: 0.4rem 0.75rem;
    color: black;
    cursor: pointer;
  }

.filter-btn:hover {
    background: black;
    color: white;
}

.photo {
    object-fit: cover;
    height: 200px;
    border: 0.25rem solid black;
    border-radius: 2rem;
}
.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
}

.price {
    color: black;
}

.item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dashed gray;
  }

