/*
=============== 
Modal
===============
*/
.hero {
    min-height: 100vh;
    background: url("./images/ocean.jpg") center/cover no-repeat;
    display: grid;
    place-items: center;
  }

.modal-btn {
    margin-top: 2rem;
    background: lime;
    border-color: lime;
    color: white;
}

.modal-btn:hover {
    background: transparent;
    color: lime;
}