/*
=============== 
Modal
===============
*/
.banner {
    background: white;
    padding: 4rem 0;
    border-radius: 0.5rem;
    box-shadow:  0 5px 15px black;
    text-align: center;
    width: 90vw;
    max-width: 620px;
}

.hero {
    min-height: 100vh;
    background: url("./images/ocean.jpg") center/cover no-repeat;
    display: grid;
    place-items: center;
  }

.modal-btn {
    margin-top: 2rem;
    background: lime;
    border-color: lime;
    color: white;
}

.modal-btn:hover {
    background: transparent;
    color: lime;
}