/*
=============== 
Global Styles
===============
*/
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/*
=============== 
Sidebar
===============
*/
.logo {
    justify-self: center;
    height: 40px;
}
