body {
    background: white;
    color: black;
    line-height: 1.5;
  }

main {
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
  }

#value {
    font-size: 6rem;
    font-weight: bold;
}