/*
=============== 
Global Styles
===============
*/

body {
    background: lightgray;
    font-family: Helvetica;
    line-height: 1.5;
  }

ul {
    list-style-type: none;
}

/*
=============== 
Navbar
===============
*/

nav {
    background: white;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

.nav-toggle {
    font-size: 1.5rem;
    color: lightblue;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.nav-toggle:hover {
    transform: rotate(90deg);
}

.logo {
    height: 40px;
}

.links {
    height: auto;
    display: flex;
}

.links a {
    color: gray;
    font-size: 1rem;
    text-transform: capitalize;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

.links a:hover {
    background: lightgray;
    color: lightblue;
    padding-left: 1.5rem;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin: 0 0.5rem;
    color: grey;
  }
