/*
=============== 
Questions
===============
*/
.title {
    margin-top: 15vh;
    margin-bottom: 4rem;
}

.title h1 {
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.section-center {
    margin: 0 auto;
    max-width: 620px;
}

.question {
    background: white;
    border-radius: 0.5rem;
    box-shadow: black;
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 2rem;
}

.question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.question-title p {
    margin-bottom: 0;
}

.question-btn {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: gold;
}

.question-btn:hover {
    transform: rotate(90deg);
}

.question-text {
  padding: 1rem 0 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

